{% load static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Distribuidora AR-Partes</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.9671625124524!2d-74.0850044488943!3d4.599904753502164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f990eff4d69ed%3A0x59ea7f1567a32ba5!2sAr-Partes%20Ltda.!5e0!3m2!1ses!2sco!4v1745438721374!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="social-icons">
                    <img src="{% static 'facebook.png' %}" alt="Facebook">
                    <img src="{% static 'instagram.png' %}" alt="Instagram">
                    <img src="{% static 'linkedin.png' %}" alt="LinkedIn">
                    <img src="{% static 'youtube.png' %}" alt="YouTube">
                </div>
            </div>
            <div class="col-md-4">
                <h3>Ubícanos:</h3>
                <p>Dirección: Carrera 16 # 7 - 25</p>
                <p>Celular: 3227123126</p>
            </div>
        </div>
    </div>
</footer>