<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Distribuidora AR-Partes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'quienes_somos' %}">Quienes Somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tienda' %}">Tienda</a>
            </li>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        </ul>
        <button class="btn btn-outline-primary ms-3">
            <i class="fa fa-shopping-cart"></i> Carrito
        </button>
    </div>
</nav>