{% extends 'base.html' %}

{% load static %}

{% block title %}Quienes Somos{% endblock %}

{% block content %}
<div class="container text-center">
    <h1>Quienes Somos</h1>
    <p>En AR-Partes S.A., somos una empresa líder en la comercialización de autopartes y accesorios para vehículos automotores. </Br>Con sede en Bogotá, Colombia, nos especializamos en ofrecer soluciones de alta calidad para marcas reconocidas como Chevrolet, Ford, Kia, Hyundai, Toyota y Suzuki.
    </Br>Nuestra misión es proporcionar a nuestros clientes productos confiables y un servicio excepcional, respaldados por años de experiencia en el sector automotriz. </Br>Nos enorgullece ser un socio confiable para talleres, concesionarios y propietarios de vehículos, ayudándolos a mantener sus automóviles en óptimas condiciones.
    </Br>En AR-Partes S.A., la innovación y la satisfacción del cliente son el motor que impulsa nuestro crecimiento. Estamos comprometidos con la excelencia y trabajamos día a día para ser la primera opción en autopartes en Colombia.
    </p>
</div>
{% endblock %}
